node_modules
packages/ui
apps/web
apps/www
tooling/github

*.tsbuildinfo

*.pem
.dev.vars
.env
.env.me
.env.vault
env.d.ts

.turbo
.astro
.wrangler
.DS_Store
.vscode
.partykit
vite.config.ts.timestamp-*.js
vite.config.ts.timestamp-*.mjs