node_modules
.turbo
*.tsbuildinfo
dist/
.astro/
.wrangler
build

.DS_Store
*.pem
.vscode
.partykit
vite.config.ts.timestamp-*.js
vite.config.ts.timestamp-*.mjs

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.dev.vars
.env
.env.me
.env*.local
.env*
.flaskenv*
!.env.project
!.env.vault
env.d.ts